.menu {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 30px;
    height: 93vh;
}

.invissible {
    opacity: 0;
}

.copyright {
    text-align: center;
}

.new-email-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 24px;
    background-color: var(--orange);
    padding: 8px 5px 8px 10px;
    border-radius: 7px;
    font-weight: 600;
    color: var(--brown);
}

.new-email-btn:link,
.new-email-btn:active,
.new-email-btn:visited {
    color: var(--brown);
}

.new-email-btn img {
    height: 50px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 400px;
}

.menu__item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu__item a {
    font-size: 24px;
    color: var(--brown);
    display: flex;
    align-items: center;
    gap: 10px;
}
